/*Botones*/
button#un-button {
    z-index: 1!important;
    padding: 6px 15px 14px 15px!important;
    left: -47px!important;
    
}
.btn-gris-small {
    padding: 1px 13px 0px 15px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    background: $gris;
    color:$azul-bunker;
    border: 1px solid $gris;
    font-size: 12px;
    text-decoration: none;
    border-radius: 3px;
    @include transicion;
    &:hover {
        background: $azul-bunker;
        color:$gris;
        border: 1px solid #FFF;
        text-decoration: none;
        @include transicion;
        
    }
}
.supportbutton {
    margin: 4px;
    text-transform: uppercase;
    height: 40px;
    color: #FFF;
    background-color: $azul-bunker;
    box-shadow: none;
    font-size: 14px;
    span {
        font-size: 14px;
    }
    &:hover, &:focus {
        background: $gris;
        color:$azul-bunker;
    }
}
.cta-stir, .wpcf7-submit, .lwa-modal input[type="submit"] {
    background: $naranjo;
    border-radius: 3px;
    font-family: 'Karla';
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    padding:12px;
    display: inline-block;
    border: none;
    &:hover {
        background: $gris;
        text-decoration: none;
        color: $azul-bunker!important;
    }
    span {
        font-weight: 700;
    }
    @media (max-width: 768px) {
        font-size: 14px;
        padding: 10px;
    }
    @media only screen and (max-device-width: 768px) {
        font-size: 14px;
        padding: 10px;
    }
}
a.small-cta, input.small-cta {
    background: $naranjo;
    border-radius: 3px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 18px;
    color: #FFF;
    line-height: 18px;
    width: 274px;
    text-transform: uppercase;
    padding:16px;
    display: inline-block;
    &:hover {
        background: #FFF;
        text-decoration: none;
        color: $azul-bunker;
    }
    @media (max-width: 768px) {
        font-size: 16px;
        padding: 15px;
        width: 85%;
        margin-left: 5%;
    }
    @media only screen and (max-device-width: 768px) {
        font-size: 16px;
        padding: 15px;
        width: 85%;
        margin-left: 5%;
    }
}
#create {
    .modulo {
        .bta, button {
            &:focus {
                background-color: $azul-bunker;
                color: #FFF;
            }
        }
    }
}