/*Fuentes*/
/*Paleta*/
$gris:#DFDFDF;
$gris-b: #D8D8D8;
$marfil:#D2CAC5;
$amarillo:#f7931e;
$naranjo:#ff592a;
$rojo:#ef4136;
$lila:#9E1D97;
$morado:#823088;
$azul-stir:#1D1250;
$azul-bunker:#121B24;
$gris-transparente: rgba(216,216,216,.28);

@font-face {
    font-family:'standard_ct_x_condensed_2';
    src: url('fonts/standardctx-condensed2-webfont.eot');
    src: url('fonts/standardctx-condensed2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/standardctx-condensed2-webfont.woff2') format('woff2'),
         url('fonts/standardctx-condensed2-webfont.woff') format('woff'),
         url('fonts/standardctx-condensed2-webfont.ttf') format('truetype'),
         url('fonts/standardctx-condensed2-webfont.svg#standard_ct_x_condensed_2') format('svg');
    font-weight: normal;
    font-style: normal;
}
@mixin font-textos { 
    font-family: 'Karla', sans-serif;
}
@mixin font-titulos { 
	font-family:"standard_ct_x_condensed_2";
    font-weight: 400;
}
.font-standard {
    font-family:"standard_ct_x_condensed_2";
    font-weight: 400;
}
html, body {
    font-size: 16px;
}
body { 
	@include font-textos;
}
h1, h2, h3, h4, h5, h6{
    @include font-titulos;
    color: $azul-bunker;
    word-break: break-word;
    letter-spacing: 1px;
}
p, button, li, a, span {
    font-size: 1em;
	font-weight:400;
	&::selection {
		background:$marfil;
		color:#000;
	}
	&::-moz-selection {
		background:$marfil;
		color:#000;
	}
}
.fa-other:before {
  content: "\f0ac";
}
p {
    strong {
        font-weight: 700;
    }
}
b, strong, .font-700 {
    font-weight: 700;
}
#blog .paragraph {
    p {
        img {
            max-width: 100%;
            height: auto;
        }
        a, span {
            font-size: 1em;
            line-height: normal;
        }
        @media only screen and (max-device-width: 768px) {
            font-size: 1.125em;
            line-height: 1.75em;
            margin-bottom: 40px;
        }

    }
    
    ul, ol {
        margin-bottom: 60px;
        li {
            list-style: inherit!important;
            margin-bottom: 30px;
        }
    }
}