/*Custom*/
div.fca_fbc_poll_frontend_component div.fca_fbc_poll_frontend_component_content {
    background: #d84314!important; 
}
div.fca_fbc_poll_frontend_component div.fca_fbc_poll_frontend_component_top {
    background: #d84314!important; 
}
div.fca_fbc_poll_frontend_component div.fca_fbc_poll_frontend_component_handle_container div.fca_fbc_poll_frontend_component_handle {
    background: #d84314!important;
}
div.fca_fbc_poll_frontend_component div.fca_fbc_poll_frontend_component_content div.fca_fbc_poll_frontend_component_question div.fca_fbc_poll_frontend_component_answer div.fca_fbc_poll_frontend_component_long textarea {
    color: #000;
}
div.fca_fbc_poll_frontend_component div.fca_fbc_poll_frontend_component_content div.fca_fbc_poll_frontend_component_buttons div.fca_fbc_poll_frontend_component_button.fca_fbc_poll_frontend_component_button_enabled{
    background: #333;
}

#welcome-title, #welcome-subt {
  animation-duration: 3s;
  animation-delay: 2s;
}

#register .css-fbl{
	margin-left:0px;
}
.input-field.error{background:rgba(255,0,0,0.3)} 