@import "fix";
/*Paleta*/
$gris:#DFDFDF;
$gris-b: #F3F3F3;
$marfil:#D2CAC5;
$amarillo:#f7931e;
$naranjo:#FF5818;

$rojo:#ef4136;
$lila:#9E1D97;
$morado:#823088;
$azul-stir:#1C2630;
$azul-bunker:#121B24;
$gris-transparente: rgba(216,216,216,.28);
@import "fuentes";
$padding: 0.5rem;

@mixin transicionstir {
    -webkit-transition: all 250ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition: all 250ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition: all 250ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition: all 250ms cubic-bezier(1.000, 0.000, 0.000, 1.000);    
-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

#myModal.modal {
    width: 100%;
    max-height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    p#nav {
        display: none;
        visibility: hidden;
    }
    h4 {
        font-size: 18px;
    }
    input {
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 3rem;
        width: 100%;
        margin: 0 0 15px 0;
        padding: 0;
        box-shadow: none;
        box-sizing: content-box;
        transition: all .3s;
    }
    input[type="submit"] {
        padding: 10px;
        height: 2em;
        line-height: 0px;
        width: 125px;
    }
}
#un-button.un-visible {
    left: -80px;
    opacity: 0;
    display: none;
    visibility: hidden;
    @include transicion;
}
#un-button.hscrolled {
    left: -39px!important;
    opacity: 1!important;
    @include transicion;
    display: block;
    visibility: visible;
}

//home
#home {
    background-color: $azul-bunker;
    .filter {
        padding-bottom: 25px;
    }
    h3 {
        color: #FFF;
    }
    #project-tiles, #content-tiles { 
        border-bottom: 1px solid #FFF;
        margin-bottom: 40px;
        .item {
            height: 390px;
            h5 { 
                a {
                    color: #FFF;
                }
            }
            .excerpt {
                p {
                    color: #FFF;
                }
            }
            span.supporters {
                color: #FFF;
            }
            span.season {
                color: #FFF;
            }
        }
    }

#main-slide-home {
    height: 93vh;
    margin-bottom: 70px;
    background: url(img/gif.gif) center center no-repeat;

    @media (max-width: 640px) {
        height: 83vh;
    }
    @media only screen and (max-device-width: 640px) {
        height: 83vh;
    }
    ul.slides, li {
        height: 100%;
    }
    ul.slides {
        li {
            @include cover;
            display: flex!important;
            justify-content: center;
            align-items: flex-end;
            a.read-more {
                position: absolute;
                z-index: 99;
                display: block;
                width: 200px;
                height: 40px;
                font-weight:700;
                font-size: 18px;
                color: #FFFFFF;
                line-height: 40px;
                background-color: $naranjo;
                border-radius: 3px;
                right: 2%;
                bottom: 70px;
                text-align: center;
                text-transform: uppercase;
                &:hover {
                    text-decoration: none;
                    color: $naranjo;
                    background-color: #FFF;
                }
                @media (max-width: 640px) {
                    width: 100px;
                    height: 30px;
                    font-size: 12px;
                    line-height: 30px;
                    right: 6%;
                }
                @media only screen and (max-device-width: 640px) {
                    width: 100px;
                    height: 30px;
                    font-size: 12px;
                    line-height: 30px;
                    right: 6%;
                }
            }
            .wrapper {
                margin-bottom: 18vh;
            }
            .content {
                .meta {
                    margin-bottom: 12px;
                    span {
                        display: inline-block;
                        background-color: $azul-bunker;
                        color: #FFF;
                        float: left;
                        font-weight:700;
                        font-size: 12px;
                        margin-right: 7px;
                        padding: 2px 5px;
                        margin-bottom: 3px;
                        a {
                            color: #FFF;
                            font-size: 12px;
                        }
                    }
                }
                .titulo {
                    margin-left: 8px;
                    margin-bottom: 20px;
                    @media (max-width: 640px) {
                        margin-left: 0;
                    }
                    @media only screen and (max-device-width: 640px) {
                        margin-left: 0;
                    }
                    h1 {
                        display: inline;
                        color: #FFF;
                        text-transform: uppercase;
                        @media (max-width: 768px) {
                            line-height: .6em;
                        }
                        @media only screen and (max-device-width: 768px) {
                            line-height: .6em;
                        }
                        a {
                            font-size: 1em;
                            box-shadow: 0.2em 0 0 $azul-bunker, -0.2em 0 0 $azul-bunker;
                            color: #FFF;
                            background-color: $azul-bunker;
                            @media (max-width: 640px) {
                                font-size: .6em;
                            }
                            @media only screen and (max-device-width: 640px) {
                                font-size: .6em;
                            }
                            &:hover, &:focus {
                                text-decoration: none;
                            }
                        }   
                    }
                }
                p.excerpt {
                    font-weight:700;
                    font-size: 16px;
                    line-height: 1em;
                    display: inline;
                    color: #FFF;
                    a {
                        color: $naranjo;
                    }
                    span {
                        padding: 0.2em;
                            box-shadow: 0.2em 0 0 $azul-bunker, -0.2em 0 0 $azul-bunker;
                            background-color: $azul-bunker;
                    }
                }
            }
        }
    }
    .flex-direction-nav {
        .flex-prev, .flex-next {
            top: 30%;
        }
        .flex-prev {
            left: 0;
            background: url(img/ico-prev.svg) center center no-repeat rgba(#FFF,.9);
        }
        .flex-next {
            right: 0;
            background: url(img/ico-next.svg) center center no-repeat rgba(#FFF,.9);
        }
        a {
            width: 40px;
            height: 200px;
            @media (max-width: 640px) {
                width: 30px;
                height: 150px;
            }
            @media only screen and (max-device-width: 640px) {
                width: 30px;
                height: 150px;
            }
        }
    }
    .flex-control-nav {
        bottom:90px;
        position: relative;
        z-index: 999;
        text-align: left;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
        
    }
    .flex-control-paging {
        li {
            a {
                width: 13px;
                height: 13px;
            }
            a.flex-active {
                background: #FFF;
            }
        }
    }
    
}
.what-is-stir {
    height: auto;
    margin-bottom: 10vh;
    position: relative;
    .head {
        padding-bottom: 10vh;
        padding-top: 10vh;
    }
    h3 {
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    p {
        font-size: 16px;
        color: #121B24;
        letter-spacing: 0.75px;
        line-height: 24px;
        margin-bottom: 50px;
    }
    a {
        color: $azul-bunker;
        padding-bottom: 7px;
        border-bottom: 2px solid $azul-bunker;
        margin-bottom: 25px;
        float: left;
    }
    a.link-summer{
        color: $naranjo;
        border-bottom: 2px solid $naranjo;
    }
    a.btn-gris-small {
        padding: 7px 11px;
        text-decoration: none;
        border-bottom: 0;
    }
}
#estadisticas {
    //margin-bottom: 50px;
    background-color: $azul-bunker;
    h5 {
        a {
            font-size: 22px;
            line-height: 30px;
            color: #FFF;
            text-decoration: none;
            border-bottom: 2px solid #FFF;
        }
    }
    .row {
        margin-bottom: 0;
    }
    h2 {
        color: #FFF;
        text-transform: uppercase;
        margin-left: 15px;
        span {
            color: $amarillo;
        }
    }
    h5 {
        font-family: "Karla";
    }
    h6, h1, h4 {
        color: #FFF;
    }
    h1 {
        font-size: 8em;
        line-height: .75em;
        margin: 0;
        /* para browser */
        @media (max-width: 768px) {
            font-size: 6em;
        }
        /* para dispositivo */
        @media only screen and (max-device-width: 768px) {
            font-size: 6em;
        }
    }
    .unique-projects {
        padding-top: 40px;
    }
}
h3 {
    font-size: 48px;
    color: #FFF;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
ul.post-tags-front {
    li {
        display: inline-block;
        a {
            font-size: 12px;
            color: $azul-bunker;
            background-color: #FFF;
            line-height: 12px;
            margin-right: 7px;
            margin-bottom: 7px;
            padding: 1px 2px;
            @include transicion;
            &:hover {
                text-decoration: none;
                color: #FFF;
                background: $azul-bunker;
                @include transicion;
            }
        }
    }
}

#content-tiles, #project-tiles {
    padding-bottom: 50px;
    position: relative;
    .filter {
        padding: 0 0 25px;
        p {
            margin-top: 0;
            font-weight: 700;
            font-size: 14px;
            color: #FFF;
            line-height: 24px;
            margin-right: 20px;
            margin-bottom: 15px;
        }
        ul {
            float: left;
            /* para browser */
            @media (max-width: 768px) {
                margin-bottom: 30px;
            }
            /* para dispositivo */
            @media only screen and (max-device-width: 768px) {
                margin-bottom: 30px;
            }
            
            
            li {
                margin-right: 10px;
                float: left;
                margin-bottom: 10px;
                a {
                    border-radius: 3px;
                    padding: 8px 11px;
                    background: $gris;
                    
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #121B24;
                    line-height: 14px;
                    &:hover {
                        background: $azul-bunker;
                        color: $gris;
                    }
                }
            }
        }
    }
    .item { 
        height: 350px;
        width: 98%;
        padding-left: 1%;
        padding-right: 1%;
        position: relative;
        margin-bottom: 15px;
        color: #FFF;
        
        .meta {
            font-size: 12px;
            letter-spacing: 0.5px;
            line-height: 23px;
            text-transform: uppercase;
            span.season {
                font-weight: 700;
                font-size: 12px;
                color: #FFF;
                letter-spacing: 0.5px;
                line-height: 23px;
            }
        }
        .photo {
            position: relative;
            @include cover;
            height: 172px;
            margin-bottom: 10px;
            span.funded {
                display: block;
                position: absolute;
                z-index: 99;
                bottom: 0;
                left: 0;
                color: $azul-bunker;
                font-weight: 700;
                padding-left: 7px;
                padding-right: 7px;
                text-transform: uppercase;
                font-size: 12px;
                background-color: #FFF;
            }
            a {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                z-index: 9;
                text-decoration: none;
                @include transicion;
                &:hover {
                    opacity: .8;
                    background-color: #FFF;
                    text-decoration: none;
                    @include transicion;
                }
            }
        }
        h5 {
            display: block;
            margin-bottom: 6px;
            
    width: 100%;
            font-family:"standard_ct_x_condensed_2";
            font-size: 24px;
            color: #FFFFFF;
            letter-spacing: 1px;
            line-height: 23px;        
            
            a {
                display: inline-block;
                font-size: 22px;
                line-height: 23px;
                padding: 3px 6px;
                letter-spacing: 0.91px;
                color: #FFF;
                text-decoration: none;
                @include transicion;
                &:hover {
                    background-color: #FFF;
                    color: $azul-bunker;
                    @include transicion;
                }
            }
        }
        p.excerpt, .excerpt {
            font-size: 12px;
            margin-bottom: 17px;
            line-height: 14px;
            padding-left: 7px;
            p {
                font-size: 12px;
                margin-bottom: 17px;
                line-height: 14px;
                display: inline;
            }
            a, a.more {
                display: inline;
                font-size: 12px;
                color: #4990E2;
            }
        }
    }
    h3 {
        color: #FFF;
    }
}
#project-tiles {
    .nsos, .ofv {
        overflow: hidden!important;
        position: relative;
    }
    p.tag {
        display: inline-block;
        padding: 2px 4px;
        background-color: #FFF;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        color: $azul-bunker;
    }

    .item {
        h5 {
            width: 100%;
            font-family:"standard_ct_x_condensed_2";
            font-size: 24px;
            color: #FFFFFF;
            letter-spacing: 1px;
            line-height: 23px;
            a {
                width: 100%;
            }
        }
        span.supporters {
            font-size: 12px;
            letter-spacing: 0.5px;
            line-height: 23px;
            padding-left: 7px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
#browse {
    #project-tiles {
        margin-top: 50px;
        .item {
            height: 400px;
        }
    }
}
a.sublink {
    display: block;
    position: absolute;
    bottom: 8%;
    right: 30px;
    z-index: 9;
    
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: #121B24;
    line-height: 12px;
    span {
        border-bottom: 2px solid #121B24;
    }
    &:hover, &:focus, &:active {
        text-decoration: none;
    }
    @media (max-width: 480px) {
        left: 22px;
        bottom: 65px;
    }
    @media only screen and (max-device-width: 768px) {
        left: 22px;
        bottom: 65px;
    }
}

}
/*waves*/
/*
//Waves summer of stir
.svg-filter {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -9999em;
}
.violet-img, .violet-orange-img {
    // opacity: 0; 
    transition: all 0.2s ease-in;
}
#wave-container {
    width: 100%;
    height: 100%;
    background: #F7931E;
}
.wave-canvas {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    top: 0;
    height: 100%;
}
#waves-bottom {
    z-index: 40;
}
#waves-middle-bottom {
    z-index: 35;
}
#waves-middle-top {
    z-index: 20;
}
#waves-top {
    z-index: 10;
}
#home-canvas-overlay {
		z-index: 41;
	}
*/

//curtain
#header-curtain.fadeout {
    opacity: 0;
    @include transicionstir;
    @media (max-width: 768px) {
        opacity: 1;
    }
    @media only screen and (max-device-width: 768px) {
        opacity: 1;
    }
}
#header-curtain.fadein {
    opacity: 1;
    @include transicionstir;
}

.curtains{
    width: 100%;
    z-index:1;
    position:relative;
}
.curtains>section{
    -webkit-transform:translateZ(0);
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:1;
}
.curtains>section.hidden{display:none;}
.curtains>section:first-child{z-index:2;}


#section-1 {
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.75);
    display: flex;
    align-content: center;
    align-items: center;
    background-color: $azul-bunker;
    .bg-wrapper {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url(img/summer-texture.jpg);
        @include cover;   
    }
    #keep-scrolling {
        p {
            font-size: 18px;
            color: #FFFFFF;
            margin-bottom: 10px;
        }
    }
    #keep-scrolling.fadeout {
        opacity: 0;
        @include transicionstir;
    }
    #keep-scrolling.fadein {
        opacity: 1;
        @include transicionstir;
    }
    .wrapper-section-curtain {
        height: auto;
        background-color: transparent;
        background: transparent;
    }
    .artwork {
        position: absolute;
        z-index: 9;
        transform: rotate(-90deg);
        right: -100px;
        top: 50%;
        color: #FFF;
        font-size: 18px;
    }
    #title {
        margin-bottom: 60px;
        img {
            max-width: 100%;
        }
        h1 {
            font-size: 3.6em;
            color: #FFF;
        }
        #startproject {
            margin-top: 20px;
        }
        #logo-curtain.fadeout, #startproject.fadeout {
            opacity: 0;
            @include transicionstir;
        }
        #logo-curtain.fadein, #startproject.fadein {
            opacity: 1;
            @include transicionstir;
        }
    }
    #footer-curtain.fadeout {
        opacity: 0;
        @include transicionstir;
    }
    #footer-curtain.fadein {
        opacity: 1;
        @include transicionstir;
    }
    h5 {
        text-transform: uppercase;
        font-size: 1.5em;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
}