$gris:#DFDFDF;
$gris-b: #D8D8D8;
$marfil:#D2CAC5;
$amarillo:#f7931e;
$naranjo:#ff592a;
$rojo:#ef4136;
$lila:#9E1D97;
$morado:#823088;
$azul-stir:#1D1250;
$azul-bunker:#121B24;
$gris-transparente: rgba(216,216,216,.28);

.navbar-default {
    background-color: $azul-bunker;
    color: #FFF;
    border-bottom: none;
    h3 {
        color: #FFF;
        margin-top: 11%!important;
    }
}
.card-user {
    .author {
        margin-top: 0;
    }
    .avatar {
        width: 50%;
        height: auto;
    }
}
.sidebar {
    .logo {
        border-bottom: 0!important;
    }
}