.navbar-default {
  background-color: #121B24;
  color: #FFF;
  border-bottom: none; }
  .navbar-default h3 {
    color: #FFF;
    margin-top: 11% !important; }

.card-user .author {
  margin-top: 0; }
.card-user .avatar {
  width: 50%;
  height: auto; }

.sidebar .logo {
  border-bottom: 0 !important; }
