/*Reset JP*/
.box {
  display: block;
  height: auto;
  overflow: hidden; }

.fleft {
  float: left; }

.fright {
  float: right; }

.fcenter {
  margin: 0 auto; }

.fwidth {
  width: 100%; }

p, a {
  margin: 0;
  padding: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

a {
  text-decoration: none; }

.ocultar {
  display: none;
  visibility: hidden; }

.mostrar {
  display: block;
  visibility: visible; }

.no-column {
  padding-left: 0;
  padding-right: 0; }

.pl0 {
  padding-left: 0; }

.pr0 {
  padding-right: 0; }

ul li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0; }

.table {
  display: table;
  width: 100%;
  height: 100%; }

.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

body {
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* easeInOutQuad */
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important; }

/*Paleta*/
/*Fuentes*/
/*Paleta*/
@font-face {
  font-family: 'standard_ct_x_condensed_2';
  src: url("fonts/standardctx-condensed2-webfont.eot");
  src: url("fonts/standardctx-condensed2-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/standardctx-condensed2-webfont.woff2") format("woff2"), url("fonts/standardctx-condensed2-webfont.woff") format("woff"), url("fonts/standardctx-condensed2-webfont.ttf") format("truetype"), url("fonts/standardctx-condensed2-webfont.svg#standard_ct_x_condensed_2") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  /*font-family:"letter-gothic-std";*/
  font-family: 'Karla', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "standard_ct_x_condensed_2";
  font-weight: 400;
  color: #121B24;
  word-break: break-word;
  letter-spacing: 1px; }

p, button, li, a {
  font-size: 16px;
  font-weight: 700; }
  p::selection, button::selection, li::selection, a::selection {
    background: #D2CAC5;
    color: #000; }
  p::-moz-selection, button::-moz-selection, li::-moz-selection, a::-moz-selection {
    background: #D2CAC5;
    color: #000; }

#myModal.modal {
  width: 100%;
  max-height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999; }
  #myModal.modal p#nav {
    display: none;
    visibility: hidden; }
  #myModal.modal h4 {
    font-size: 18px; }
  #myModal.modal input {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s; }
  #myModal.modal input[type="submit"] {
    padding: 10px;
    height: 2em;
    line-height: 0px;
    width: 125px; }

#open-cta {
  background-image: url(img/fondo-cta.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #121B24; }
  #open-cta h1, #open-cta h2 {
    color: #FFF;
    font-size: 6rem; }
  #open-cta h1 {
    /* para dispositivo */ }
    @media only screen and (max-device-width: 640px) {
      #open-cta h1 {
        font-size: 4rem; } }
  #open-cta h2 {
    /* para dispositivo */ }
    @media only screen and (max-device-width: 640px) {
      #open-cta h2 {
        font-size: 3rem;
        line-height: 3rem; } }
  #open-cta .btn {
    border-radius: 3px;
    color: #FFF;
    margin-bottom: 10px;
    border: 2px solid #FFF; }
    #open-cta .btn:hover {
      color: #121B24;
      margin-bottom: 10px;
      border: 2px solid #azul-bunker;
      background: #FFF; }

#what-is-stir, #how-it-works {
  background-color: #FFF; }
  #what-is-stir h2, #how-it-works h2 {
    text-transform: uppercase; }
  #what-is-stir .feature, #how-it-works .feature {
    color: #121B24; }
    #what-is-stir .feature h5, #how-it-works .feature h5 {
      text-transform: uppercase;
      line-height: 26px; }

#estadisticas {
  background-color: #121B24; }
  #estadisticas .row {
    margin-bottom: 0; }
  #estadisticas h2 {
    color: #FFF;
    text-transform: uppercase; }
    #estadisticas h2 span {
      color: #f7931e; }
  #estadisticas h6, #estadisticas h1, #estadisticas h4 {
    color: #f7931e; }
  #estadisticas h1 {
    font-size: 8em;
    line-height: .75em;
    margin: 0; }

#testimonios h4 {
  text-transform: uppercase; }
  #testimonios h4 span {
    color: #ef4136; }
#testimonios ul.slides li p {
  font-size: 36.12px;
  line-height: 45px;
  color: #121B24;
  font-weight: 400;
  margin-bottom: 60px; }
#testimonios ul.slides li span {
  font-size: 24px; }

#browse-projects row {
  margin: 0; }
#browse-projects h4 {
  text-transform: uppercase; }
#browse-projects .card-image img {
  margin-bottom: 0; }
#browse-projects .card-title {
  display: block;
  height: auto;
  overflow: hidden;
  font-family: "standard_ct_x_condensed_2";
  font-weight: 400;
  text-transform: uppercase;
  color: #121B24;
  line-height: 1em;
  margin: 10px 0; }
#browse-projects p.link-browse {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400; }
  #browse-projects p.link-browse a {
    font-size: 24px;
    text-decoration: underline;
    color: #121B24; }

footer {
  background-color: #121B24; }

#main-slide-home {
  height: 50vh; }
