/*Reset JP*/
.box {
  display: block;
  height: auto;
  overflow: hidden; }

.fleft {
  float: left; }

.fright {
  float: right; }

.fcenter {
  margin: 0 auto; }

.fwidth {
  width: 100%; }

p, a {
  margin: 0;
  padding: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

a {
  text-decoration: none; }

.ocultar {
  display: none;
  visibility: hidden; }

.mostrar {
  display: block;
  visibility: visible; }

.no-column {
  padding-left: 0;
  padding-right: 0; }

.pl0 {
  padding-left: 0; }

.pr0 {
  padding-right: 0; }

ul li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0; }

.table {
  display: table;
  width: 100%;
  height: 100%; }

.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

body {
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* easeInOutQuad */
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important; }

/*Paleta*/
/*Fuentes*/
/*Paleta*/
@font-face {
  font-family: 'standard_ct_x_condensed_2';
  src: url("fonts/standardctx-condensed2-webfont.eot");
  src: url("fonts/standardctx-condensed2-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/standardctx-condensed2-webfont.woff2") format("woff2"), url("fonts/standardctx-condensed2-webfont.woff") format("woff"), url("fonts/standardctx-condensed2-webfont.ttf") format("truetype"), url("fonts/standardctx-condensed2-webfont.svg#standard_ct_x_condensed_2") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Apercu';
  src: url("fonts/Apercu.eot");
  src: url("fonts/Apercu.woff2") format("woff2"), url("fonts/Apercu.woff") format("woff"), url("fonts/Apercu.ttf") format("truetype"), url("fonts/Apercu.svg#Apercu") format("svg"), url("fonts/Apercu.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Apercu-Bold';
  src: url("fonts/Apercu-Bold.eot");
  src: url("fonts/Apercu-Bold.woff2") format("woff2"), url("fonts/Apercu-Bold.woff") format("woff"), url("fonts/Apercu-Bold.ttf") format("truetype"), url("fonts/Apercu-Bold.svg#Apercu-Bold") format("svg"), url("fonts/Apercu-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Apercu', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "standard_ct_x_condensed_2";
  font-weight: 400;
  color: #121B24;
  word-break: break-word;
  letter-spacing: 1px; }

p, button, li, a {
  font-size: 16px;
  font-weight: 700; }
  p::selection, button::selection, li::selection, a::selection {
    background: #D2CAC5;
    color: #000; }
  p::-moz-selection, button::-moz-selection, li::-moz-selection, a::-moz-selection {
    background: #D2CAC5;
    color: #000; }

#summer-of-stir {
  position: relative; }

.svg-filter {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -9999em; }

.violet-img, .violet-orange-img {
  /* opacity: 0; */
  transition: all 0.2s ease-in; }

#wave-container {
  width: 100%;
  height: 100%;
  background: #121B24; }

.wave-canvas {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  top: 0;
  /* here we manage canva size */
  height: 100%; }

#waves-bottom {
  z-index: 40; }

#waves-middle-bottom {
  z-index: 35; }

#waves-middle-top {
  z-index: 20; }

#waves-top {
  z-index: 10; }

#home-canvas-overlay {
  z-index: 41; }
